@font-face { font-family: jbmono; 
    src: url('../assets/fonts/JetBrainsMono-Regular.ttf'); } 

:root{
    --black:#000;
    --white:#fff;
    --green:#0F0;

    --light-gray:#bbbbbb;
    --med-gray:#9a9a9a;
    --dark-gray:#282828;

    --light-mode-shadow: 2px 2px 2px #777;
    --dark-mode-shadow: 2px 2px 2px #222;
    --fonts: jbmono, 'Courier New', Courier, monospace;

    --svg-light-gray:brightness(0) saturate(100%) invert(70%) sepia(64%) saturate(0%) hue-rotate(141deg) brightness(97%) contrast(90%);
    --svg-med-gray:brightness(0) saturate(100%) invert(68%) sepia(5%) saturate(0%) hue-rotate(247deg) brightness(90%) contrast(84%);
    --svg-dark-gray:brightness(0) saturate(100%) invert(14%) sepia(38%) saturate(4%) hue-rotate(92deg) brightness(103%) contrast(101%);
}

.vert-center {
    margin: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

body {
    font-family: var(--fonts);
    text-align: center;
    text-shadow: var(--shadowColor);
    background: var(--bg);
    color: var(--fontColor);
    transition: 1s;
}

h1 {
    font-size:xx-large;
}

h2 {
    font-size: x-large;
}

.light-theme {
    --bg:var(--light-gray);
    --fontColor:var(--dark-gray);
    --shadowColor:var(--light-mode-shadow);

    --svg-color: var(--svg-dark-gray);
}

.dark-theme {
    --bg:var(--dark-gray);
    --fontColor:var(--med-gray);
    --shadowColor:var(--dark-mode-shadow);

    --svg-color: var(--svg-light-gray);
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#prevent-selection {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.svg-filter{
    filter: var(--svg-color);
}

#img-btn {
    width:auto;
    min-width: 5%;
    max-width: 15%;
    transition: 0.5s;
    opacity: 0.8;
}

#img-btn:hover {
    min-width: 10%;
    max-width: 20%;
    opacity: 1;
}



#theme_swap {
    width:auto;
    position: absolute;
    top: 5%;
    right: 5%;
    min-width: 2%;
    max-width: 3%;
    transition: 1s;
    opacity: 0.25;
}

#theme_swap:hover {
    min-width: 3%;
    max-width: 5%;
    opacity: 1;
}

.footer{
    position: absolute;
    bottom: 1%;
    font-size: xx-small;
    color:var(--fontColor);
    text-decoration: none;
}

.bare-link{
    color:var(--fontColor);
    text-decoration: none;
    font-weight: bolder;
}